body {
  font-family: Arial;
  background: #f4f6f8;
}

.container, .form-container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.btn {
  display: block;
  text-align: center;
  padding: 12px;
  background: #2563eb;
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.secondary {
  background: #555;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
