<h2>AI Professional Job Application</h2>
<form method="post" enctype="multipart/form-data">
  Name: <input name="name"><br>
  Phone: <input name="phone"><br>
  Email: <input name="email"><br>

  Experience:
  <select name="experience">
    {% for i in range(0,31) %}
    <option value="{{i}}">{{i}} Years</option>
    {% endfor %}
  </select><br>

  Qualification:
  <select name="qualification">
    <option>PhD</option>
    <option>M.Tech</option>
    <option>B.Tech</option>
    <option>Diploma</option>
    <option>SSC</option>
  </select><br>

  Role:
  <select name="role">
    <option>Software Developer</option>
    <option>Tester</option>
    <option>HR</option>
    <option>Non-IT Staff</option>
  </select><br>

  Resume: <input type="file" name="resume"><br>
  <button>Submit</button>
</form>
