<!DOCTYPE html>
<html>
<head>
  <title>Apply Job</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="form-container">
<h2>Job Application</h2>

<form method="POST">
<input name="name" placeholder="Full Name" required>
<input name="phone" placeholder="Mobile Number" required>
<input name="email" placeholder="Email" required>

<select name="experience">
  <option>Fresher</option>
  <option>1-3 Years</option>
  <option>3-5 Years</option>
  <option>5+ Years</option>
</select>

<select name="qualification">
  <option>10th</option>
  <option>12th</option>
  <option>Diploma</option>
  <option>Graduate</option>
  <option>Post Graduate</option>
</select>

<input name="job_role" placeholder="Job Role">

<select name="country">
  <option>India</option>
  <option>USA</option>
  <option>UK</option>
  <option>UAE</option>
</select>

<input name="state" placeholder="State">
<input name="district" placeholder="District">
<input name="area" placeholder="Area">

<button type="submit">Submit Application</button>
</form>

<a href="/">⬅ Back</a>
</div>
</body>
</html>
