{% extends "base.html" %}
{% block content %}
<h3>Job Application</h3>

<form method="post" enctype="multipart/form-data">
    <input class="form-control mb-2" name="name" placeholder="Full Name" required>
    <input class="form-control mb-2" name="phone" placeholder="Mobile Number" required>
    <input class="form-control mb-2" name="email" placeholder="Email" required>

    <select class="form-control mb-2" name="experience">
        <option>Fresher</option>
        <option>1-3 Years</option>
        <option>3+ Years</option>
    </select>

    <select class="form-control mb-2" name="qualification">
        <option>10th</option>
        <option>Inter</option>
        <option>Degree</option>
        <option>B.Tech</option>
        <option>M.Tech</option>
    </select>

    <input class="form-control mb-2" name="job_role" placeholder="Job Role">
    <input class="form-control mb-2" name="country" placeholder="Country">
    <input class="form-control mb-2" name="state" placeholder="State">
    <input class="form-control mb-2" name="district" placeholder="District">
    <input class="form-control mb-2" name="area" placeholder="Area">

    <label>Upload Resume</label>
    <input class="form-control mb-3" type="file" name="resume" required>

    <button class="btn btn-success">Submit Application</button>
</form>
{% endblock %}
